// Import Google Fonts Inter et Pacifico
@import './globals/fonts';

// Globals
@import './globals/variables';
@import './globals/mixins';
@import './globals/reset';
@import './globals/utilities';
@import './globals/animations';

// Styles globaux de l'app
body {
  font-family: 'Inter', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  transition: var(--transition);
}
