.iridescence-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: blur(10px);
  z-index: 2; // PAR-DESSUS les layers pour adoucir
  pointer-events: none;
  
  // Masque sur Iridescence aussi
  // mask: linear-gradient(to bottom, black 30vh, transparent 65vh);
}